

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.search-area {
  margin-bottom: 20px;
}

#main-content-container .panel-heading {
  background-color: #fff;
}

#main-content-container .panel-heading h3 {
  margin-top: 2px;
  margin-bottom: 0;
}

.document-list-item h4 {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.document-list-item p {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.document-list-item .info {
  color: #999;
}

.comment-list li{
	margin-bottom:0px;
	border-radius: 0px;
}

.comment-title span{
	font-size:0.7em;
	font-weight: 300;
}

#simplecomment,#detailedcomment{
	padding:20px 20px 0px 20px;
}

.comment-button{
	text-align: right;
}