#parse("./template/header.vm")

<div class="col-xs-12 col-md-9">
    <nav>
        <ol class="breadcrumb">
            <li><a href="../document/index.html"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li><a href="../admin/index.html">管理</a></li>
            <li class="active">引用关系配置</li>
        </ol><!-- /.breadcrumb -->
    </nav>

    <div id="main-content-container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="pull-left">引用关系配置</h3>
            </div><!-- /.panel-heading -->

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>引用类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        #foreach($referenceType in $referenceTypeList)
                        <tr>
                            <td>$referenceType.getId()</td>
                            <td>$referenceType.getName()</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="deleteReferenceType.html?id=$referenceType.getId()"><span class="glyphicon glyphicon-minus"></span> 删除</a>
                            </td>
                        </tr>
                        #end
                    <tr>
                        <td></td>
                        <form action="addReferenceType.html" method="post">
                            <td>
                                <input type="text" class="form-control" name="name" placeholder="引用类型名称">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> 添加</button>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    </div><!-- /#main-content-container -->
</div><!-- /.col left -->

#parse("./admin/right.vm")
#parse("./template/footer.vm")
