<div class="col-xs-12 col-md-3">

    #parse("./template/userPanel.vm")

    <div class="list-group">
        #set($menu = {"user.html" : "用户管理", "tag.html" : "标签配置", "document.html" : "文献类型配置", "reference.html" : "引用关系配置", "detailedcomment.html" : "详细评价配置"})
        #foreach($key in $menu.keySet())
            <a href="$!key" class="list-group-item active">$menu.get($key)</a>
        #end
    </div><!-- /.list-group -->

</div><!-- /.col right -->

